#temp
*~
test-results
tags

#bin
*.a
*.o
*.dtb
*.so
*.pyc
*.img
*.log
*.tmp
bin
lib
output/
target/
obj
Emulator/*/Lib

#ide
*.pidb
*.userprefs

#files
Emulator/Cores/zip/

#documentation
doc/*/build

#version info
Emulator/Main/AssemblyVersionInfo.cs

#nuget
packages

