<#
//
// Copyright (c) Antmicro
// Copyright (c) Realtime Embedded
//
// This file is part of the Emul8 project.
// Full license details are defined in the 'LICENSE' file.
//
#>
<#@ template language="C#" #>
<#@ include file="RegisterTemplateDefinitions.tt" #>
<#
    CLASS_NAME = "Arm";
    HEADER_FILE = "Emulator/Cores/translate/arch/arm/cpu_registers.h";

    BEFORE_WRITE_HOOKS.Add("PC", "BeforePCWrite");
#>
<#@ include file="RegisterTemplate.tt" #>
