[Desktop Entry]
Version=1.0
Name=Emul8
Type=Application
#desktop entry specification version
Comment=The Emul8 Framework
Exec=emul8
Icon=emul8
GenericName=Embedded systems emulator
Terminal=true
Categories=Development
