<#
//
// Copyright (c) Antmicro
// Copyright (c) Realtime Embedded
//
// This file is part of the Emul8 project.
// Full license details are defined in the 'LICENSE' file.
//
#>
<#@ template language="C#" #>
<#@ include file="../Common/RegisterTemplateDefinitions.tt" #>
<#
    CLASS_NAME = "PowerPc";
    HEADER_FILE = "Emulator/Cores/tlib/arch/ppc/cpu_registers.h";

    PC_REGISTER = "NIP";
#>
<#@ include file="../Common/RegisterTemplate.tt" #>